<!DOCTYPE html>
<html @scroll="scroll">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>COVID-19 Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="news.css">
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="root" v-cloak>      
      <nav>
        <div class="menu-btn" @click="toggleMenu">
          <div class="bar"></div>
        </div>
        <h3>Health News</h3>
      </nav>
      <div class="sidebar">
        <a href="./index.html">Home</a>
        <a href="./map.html">Tracker Map</a>
        <a href="./#">Health News</a>
        <a href="#">About</a>
      </div>
      <a v-if="showBackToTop" href="#" class="backToTop"><i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i></a>
      <div class="main">
        <div class="boxes">
          <div class="news-box" v-for="article in news.articles">
            <img :src="article.urlToImage" alt="">
            <a :href="article.url" target="_blank">{{article.title}}</a>
            <p>{{article.description}}</p>
            
            <p><strong>Date published:</strong> {{article.publishedAt.toLocaleString()}}</p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    
    <script src="news-app.js"></script>
    <script src="script.js"></script>
    
  </body>
</html>
